body
{
  background: url(osada1.jpg);
  background-size: cover;
	background-color: #FF8C00;
	color: black;
	font-size: 15px;
	font-family: 'Inconsolata';
	font-weight: 700;

}

#pojemnik
{

  /*background-color: white;*/
  height: 100px;
	width:600px;
	margin-left:10px;

}

#surowce
{

  /*background-color: white;*/
  height: 100px;
	width:1000px;
	margin-left:10px;

}

#plansza
{
  background: url(plansza.jpg);
  height: 450px;
	width:800px;
  margin-top: 200px;
	margin-left:0px;
	margin-right:auto;
}

#logowanie
{
  /*background: url(osada1.jpg);*/
  /*background-color: #FF8C00;*/
	width:800px;
  height: 430px;
	margin-left:-10px;
	/*margin-right:auto;*/
}

#zdjecie
{
  /*background-color: black;*/
	width:200px;
	/*margin-left:auto;*/
	/*margin-right:auto;*/
}

#obrazek
{
  /*background-color: white;*/
  /*background: url(osada.jpg);*/
	width:1000px;
  height: 250px;
	/*margin-left:auto;*/
	/*margin-right:auto;*/
}

#budowa
{
  /*background-color: white;*/
  /*background: url(osada.jpg);*/
	width:400px;
  /*height: 250px;*/
	margin-top:-70px;
	/*margin-right:auto;*/
}

.submit {
  background-color: white;

    /*Krok 2: Podstawowe style*/
    background: url(tartak.jpg);
    font-size: 18px;
    font-variant: inherit;
    font-weight: 400;
    font-weight: bold;
    font-style: oblique;
    background-size: contain;
    display: block;
    height: 200px;
    color: white;
    width: 200px;
    border: 2px solid rgba(33, 68, 72, 0.59);
}
.sub_farma {
  background: url(farma.jpg);
  font-size: 18px;
  font-variant: inherit;
  font-weight: 500;
  font-weight: bold;
  font-style: oblique;
  background-size: contain;
  display: block;
  height: 200px;
  color: white;
  width: 200px;
  border: 2px solid rgba(33, 68, 72, 0.59);
}


.sub_kamieniolom {
  background: url(warsztat.jpg);
  font-size: 18px;
  font-variant: inherit;
  font-weight: 400;
  font-weight: bold;
  font-style: oblique;
  background-size: contain;
  display: block;
  height: 200px;
  color: white;
  width: 200px;
  border: 2px solid rgba(33, 68, 72, 0.59);
}
selektor { background-image: url(osada.jpg) };
